/* You can add global styles to this file, and also import other style files */
@import "styles/_buttons.scss";
@import "styles/_list.scss";
@import "styles/_snackbar.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
