<mat-list>
  <mat-list-item matRipple class="item" *ngFor="let alert of alerts">

    <div class="flex w-full items-center">
      <div class="mr-2 mt-1 type">
        <mat-icon *ngIf="alert.type===alertType.IN_AREA" class="text-gray-600" matTooltip="Geofence"
                  matTooltipPosition="right">radio_button_checked
        </mat-icon>
        <mat-icon *ngIf="alert.type===alertType.NEAR_DEVICE" class="text-gray-600" matTooltip="Proximity"
                  matTooltipPosition="right">compare_arrows
        </mat-icon>

        <mat-icon *ngIf="alert.type===alertType.NEAR_AREA" class="text-gray-600" matTooltip="Proximity"
                  matTooltipPosition="right">room
        </mat-icon>
      </div>

      <div class="w-4/5">
        <h2 class="name text-gray-800  text-sm">{{alert.name}}</h2>

        <div class="flex">
          <div class="w-1/2 text-xs">
            {{alert.createdAt  | amTimeAgo:true}}
          </div>
          <div class="w-1/2"></div>
        </div>
      </div>

      <div class="w-1/5 text-right">

        <mat-menu #iteMenu="matMenu" xPosition="before">

          <button mat-menu-item (click)="viewDetails(alert)">
            <mat-icon>visibility</mat-icon>
            View Details
          </button>

          <button mat-menu-item (click)="showDeviceOnMap(alert)">
            <mat-icon>gps_fixed</mat-icon>
            View Device
          </button>


        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="iteMenu">
          <mat-icon class="text-gray-600">more_vert</mat-icon>
        </button>
      </div>

    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

