<assessment-toolbar>

</assessment-toolbar>

<mat-drawer-container [autosize]="true" [hasBackdrop]="false">
  <mat-drawer #leftDrawer mode="push" position="start" opened>
    <mat-tab-group color="primary" [animationDuration]="0">

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon color="primary">notification_important</mat-icon>
        </ng-template>
        <assessment-alert-list></assessment-alert-list>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon color="primary">gps_fixed</mat-icon>
        </ng-template>
        <assessment-device-list></assessment-device-list>
      </mat-tab>
      
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon color="primary">layers</mat-icon>
        </ng-template>
        <assessment-area-list></assessment-area-list>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer>

  <mat-drawer-content>
    <assessment-map></assessment-map>
  </mat-drawer-content>
  <mat-drawer #rightDrawer mode="over" position="end">
    <router-outlet name="sidebar"></router-outlet>
  </mat-drawer>
</mat-drawer-container>
