<div class="header bg-gray-100 border-b border-text-gray-300">
  <div class="flex items-center pl-3 pr-3 pt-3 pb-3 ">
    <span class="title ml-1 font-medium text-lg w-full">
      <mat-icon class="mr-2 icon" color="primary">{{icon}}</mat-icon>
      <span>{{title}}</span>
    </span>
    <mat-icon class="cursor-pointer text-gray-600" (click)="close()">close</mat-icon>
  </div>
</div>

<div class="p-4 pt-6 body-wrapper">
  <div class="body">
    <ng-content select="[body]"></ng-content>
  </div>
  <div class="footer mt-2 pt-3 border-t border-text-gray-300 ">
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
