<assessment-drawer-panel type="right"  icon="layers" title="{{area._id?'Edit':'New'}} Area">
  <div body>
    <form id="area-form" [formGroup]="form" (ngSubmit)="submit()">
      <formly-form [form]="form" [fields]="fields" [model]="area" [options]="formOptions"></formly-form>
    </form>

    <mat-divider></mat-divider>

    <div class="mt-6 area-select">
      <p>
        Select an area from the map by clicking on the edges of the area.
      </p>

      <div class="mt-5">
        <button [disabled]="!!selectedOverlay" mat-flat-button color="accent" (click)="drawingMode()">
          <mat-icon>room</mat-icon>
          Drawing Mode
        </button>

        <button [disabled]="!selectedOverlay" mat-flat-button class="ml-3" color="warn" (click)="clearPolygon()">
          <mat-icon>delete</mat-icon>
          Clear Polygon
        </button>
      </div>
    </div>

  </div>

  <div footer>
    <button mat-flat-button color="primary" form="area-form" type="submit" [spinBtn]="saving">Save</button>
    <button mat-flat-button class="ml-3" type="button" (click)="close()">Cancel</button>
  </div>

</assessment-drawer-panel>
