<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="flex items-stretch w-full">
      <img class="logo" src="https://www.trgint.com/img/logo.png"/>
      <button mat-icon-button class="ml-5">
        <mat-icon (click)="toggleSidebar()">menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-icon-button class="ml-5" class="self-end" >
        <mat-icon (click)="settings()">settings_applications</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
