<button mat-button (click)="create()" class="float-right m-2">
  <mat-icon color="primary">add</mat-icon>
  Add Device
</button>


<mat-list>
  <mat-list-item matRipple class="item" *ngFor="let device of devices"
                 (click)="showOnMap(device);$event.stopPropagation()">

    <div class="flex w-full items-center">
      <div class="mr-2 mt-1">
        <mat-icon class="online" [ngClass]="{
            'text-green-500':device.monitorAction === 'active',
            'text-gray-500':device.monitorAction === 'inactive',
            'text-yellow-500':device.monitorAction === 'paused' }">
          brightness_1
        </mat-icon>
      </div>

      <div class="w-4/5">
        <h2 class="name text-gray-800 text-sm">{{device.name}}</h2>
      </div>

      <div class="w-1/5 text-right">

        <mat-menu #iteMenu="matMenu" xPosition="before">
          <button *ngIf="device.monitorAction === 'active'" mat-menu-item
                  (click)="action(device._id,monitorAction.INACTIVE)">
            <mat-icon>stop</mat-icon>
            Stop Tracking
          </button>

          <button *ngIf="device.monitorAction !== 'active'" mat-menu-item
                  (click)="action(device._id,monitorAction.ACTIVE)">
            <mat-icon>play_arrow</mat-icon>
            Start Tracking
          </button>

          <button mat-menu-item (click)="edit(device._id)">
            <mat-icon>edit</mat-icon>
            Edit
          </button>

          <button mat-menu-item (click)="viewAlerts(device._id )">
            <mat-icon>notification_important</mat-icon>
            Alerts
          </button>

          <button *ngIf="device.monitorAction === 'active'" mat-menu-item
                  (click)="action(device._id,monitorAction.PAUSED)">
            <mat-icon>pause</mat-icon>
            Pause
          </button>

          <button mat-menu-item (click)="delete(device._id)">
            <mat-icon>delete</mat-icon>
            Delete
          </button>

        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="iteMenu">
          <mat-icon class="text-gray-600">more_vert</mat-icon>
        </button>
      </div>

    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

