<assessment-drawer-panel type="right" icon="gps_fixed"  title="{{device._id?'Edit':'New'}} Device">
  <div body>
    <form id="area-form" [formGroup]="form" (ngSubmit)="submit()">
      <formly-form [form]="form" [fields]="fields" [model]="device" [options]="formOptions"></formly-form>
    </form>
  </div>

  <div footer>
    <button mat-flat-button color="primary" form="area-form" type="submit" [spinBtn]="saving">Save</button>
    <button mat-flat-button class="ml-3" type="button" (click)="close()">Cancel</button>
  </div>

</assessment-drawer-panel>
