<button mat-button (click)="create()" class="float-right m-2">
  <mat-icon color="primary">add</mat-icon>
  Add Area
</button>

<mat-list>
  <mat-list-item matRipple class="item" *ngFor="let area of areas" (click)="showOnMap(area)">

    <div class="flex w-full items-center">
      <div class="mr-2 mt-1">
        <mat-icon class="online" [ngClass]="{
            'text-green-500':area.enabled,
            'text-gray-500':!area.enabled }">
          brightness_1
        </mat-icon>
      </div>

      <div class="w-4/5">
        <h2 class="name text-gray-800 text-sm">{{area.name}}</h2>
      </div>

      <div class="w-1/5 text-right">
        <mat-menu #iteMenu="matMenu" xPosition="before">
          <button *ngIf="!area.enabled" mat-menu-item (click)="action(area._id,'enable')">
            <mat-icon>check_circle_outline</mat-icon>
            Enable
          </button>

          <button *ngIf="area.enabled" mat-menu-item (click)="action(area._id,'disable')">
            <mat-icon>remove_circle_outline</mat-icon>
            Disable
          </button>

          <button mat-menu-item (click)="action(area._id,'edit')">
            <mat-icon>edit</mat-icon>
            Edit
          </button>

          <button mat-menu-item (click)="action(area._id,'delete')">
            <mat-icon>delete_outline</mat-icon>
            Delete
          </button>

        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="iteMenu">
          <mat-icon class="text-gray-600">more_vert</mat-icon>
        </button>
      </div>

    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

